
.nysds-state-logo {
  background-image: url('/assets/nysds-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 60px;
  width: 90px;
}


.nysds-unav {
  display: flex;
  align-items: center;
  font-family: Proxima Nova, Arial, sans-serif;
}

.nysds-unav-bottom-border {
  border-bottom: 3px solid #d0d0ce;
}

.nysds-unav-trust-link {
  margin-right: 12px;
  margin-left: 30px;
}

.nysds-trust-identifier {
  font-size: 0.7em;
}


@media (min-width: 1024px) {
  .nysds-unav-trust-link {
    margin-left: 60px;
  }
}
.nysds-global-nav {
  display:flex;
  flex-direction: column;
  background: var(--primary-core-blue);
  justify-content: center;
  font-family: Proxima Nova, Arial, sans-serif;
}

.nysds-global-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: auto;
  padding: 0.5em;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nysds-global-mobile-menu:focus {
  filter: brightness(0) saturate(100%) invert(80%) sepia(58%) saturate(1418%) hue-rotate(359deg) brightness(98%) contrast(101%);
  outline: 1px solid var(--core-accent-yellow);
}

.nysds-global-mobile-menu:hover {
  filter: brightness(0) saturate(100%) invert(80%) sepia(58%) saturate(1418%) hue-rotate(359deg) brightness(98%) contrast(101%);
  outline: 1px solid var(--core-accent-yellow);
}

.nysds-global-menu-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
  filter: invert(100%);
  height: 25px;
  width: 23px;
  background-repeat: no-repeat;
}

.nysds-global-caret-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
  height: 18px;
  width: 16px;
  background-repeat: no-repeat;
  margin-left: auto;
  display: block;
  filter: brightness(0) saturate(100%) invert(22%) sepia(20%) saturate(3240%) hue-rotate(176deg) brightness(96%) contrast(91%);
}

.nysds-global-turn-arrow-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M350 177.5c3.8-8.8 2-19-4.6-26l-136-144C204.9 2.7 198.6 0 192 0s-12.9 2.7-17.4 7.5l-136 144c-6.6 7-8.4 17.2-4.6 26s12.5 14.5 22 14.5l88 0 0 192c0 17.7-14.3 32-32 32l-80 0c-17.7 0-32 14.3-32 32l0 32c0 17.7 14.3 32 32 32l80 0c70.7 0 128-57.3 128-128l0-192 88 0c9.6 0 18.2-5.7 22-14.5z'/%3E%3C/svg%3E");
  transform: rotate(90deg);
  height: 15px;
  width: 13px;
  background-repeat: no-repeat;
  display: block;
  margin-top: 2px;
  margin-right: 15px;
  filter: brightness(0) saturate(100%) invert(22%) sepia(20%) saturate(3240%) hue-rotate(176deg) brightness(96%) contrast(91%);
}

.nysds-global-close-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
  filter: invert(100%);
  height: 24px;
  width: 18px;
  background-repeat: no-repeat;
}

.nysds-global-site-name {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 35px;
}

.nysds-global-home-link {
  text-decoration: none;
  color: var(--core-accent-yellow)
}

.nysds-global-home-link:hover { 
  color:var(--core-accent-yellow);
  text-decoration: underline;
}

.nysds-global-home-link:focus { 
  color:var(--core-accent-yellow);
  text-decoration: underline;
}

.nysds-global-nav-container {
  display: none;
  flex-direction: column;
}

.nysds-global-name-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--mid-gray);
}

.nysds-global-link-list {
  list-style-type: "";
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  background-color: var(--light-gray);
}

.nysds-global-link-sub-list {
  list-style-type: "";
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  margin: 0;
  padding: 0;
}

.nysds-global-list-child-item {
  padding: 20px;
}

.nysds-global-list-item {
  padding: 15px 25px 15px 10px;
  border-top: 1px solid var(--mid-gray);
}

.nysds-global-list-item:first-of-type {
  border-top: none;
}

.nysds-global-link {
  color:var(--primary-core-blue);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 5px;
  display: flex;
}

.nysds-global-button {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-core-blue);
  font-weight:bold;
  display: flex;
  width: 100%;
}

.nysds-global-link:hover {
  color:var(--black);
  text-decoration: underline;
}

.nysds-global-link:focus {
  color:var(--black);
  text-decoration: underline;
  outline: 1px solid var(--primary-core-blue);
  box-shadow: 0 0 0 1px var(--light-gray)
}

.nysds-global-link:hover .nysds-global-turn-arrow-icon {
  filter: invert(0%) saturate(0%);
}

.nysds-global-link:focus .nysds-global-turn-arrow-icon {
  filter: invert(0%) saturate(0%);
}

.nysds-global-link:focus .nysds-global-caret-icon {
  filter: invert(0%)
}

.nysds-global-link:hover .nysds-global-caret-icon {
  filter: invert(0%)
} 

.nysds-rotate-180 {
  transform: rotate(180deg);
}




/* breakpoiiiint */
@media (min-width: 1024px) {
  .nysds-global-nav {
    justify-content: initial;
    flex-direction: row;
  }

  .nysds-global-nav-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
  }
  
  .nysds-global-name-container {
    width: fit-content;
    align-items: center;
    margin-right: 20px;
    border-bottom: 0;
  }

  .nysds-global-link-list {
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-core-blue);
  }

  .nysds-global-button {
    color: var(--white);
    padding: 0px 10px; 
  }

  .nysds-global-site-name {
    margin: 20px 0 20px 60px;
  }

  .nysds-global-list-item {
    border: 0;
    padding: 10px 10px;
    display: initial;
  }

  .nysds-global-link-sub-list {
    border: 1px solid var(--mid-gray);
    position: absolute;
    margin: 20px 0;
    padding: 0;
    color: var(--black) !important;
    background-color: var(--light-gray);
  }

  .nysds-global-mobile-menu  {
    display: none;
  }

  .nysds-global-link {
    color: var(--white);
    font-size: 1rem;
  }

  .nysds-global-sublink {
    color: var(--primary-core-blue);
  }

  .nysds-global-link:hover {
    color:var(--core-accent-yellow);
  }

  .nysds-global-sublink:hover {
    color: var(--black);
  }

  .nysds-global-sublink:focus {
    color: var(--black) !important;
    outline: 1px solid var(--primary-core-blue) !important;
  }
  
  .nysds-global-link:focus {
    color:var(--core-accent-yellow);
    outline: 1px solid var(--core-accent-yellow);
  }
 
  .nysds-global-caret-icon {
    filter: invert(100%)
  }


  .nysds-global-link:focus .nysds-global-caret-icon {
    filter: brightness(0) saturate(100%) invert(81%) sepia(66%) saturate(1269%) hue-rotate(357deg) brightness(96%) contrast(105%);
  }

  .nysds-global-link:hover .nysds-global-caret-icon {
    filter: brightness(0) saturate(100%) invert(81%) sepia(66%) saturate(1269%) hue-rotate(357deg) brightness(96%) contrast(105%);
  } 

  .nysds-global-caret-icon { 
    margin-left: 8px;
  }
}/* back to top - NYSDS JHK */

.back-to-top {
    position: fixed;
    bottom: 6%;
    right: 5%;
    z-index: 23000;
}

.back-to-top-button {
    font-size: 0.9em;
    background-color: #154973;
    padding: 13px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.back-to-top-button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #face00;
    text-decoration: underline;
}

.back-to-top-button:focus {
    background-color: #000;
    color: #fff;
    border: 2px solid #face00;
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .back-to-top {
        bottom: 7%;
        right: 4%;
    }
    .back-to-top-button {
        font-size: 1em;
        padding: 12px;
    }
}
.nysds-iframe {
  width: 90%;
  height: 800px;
}

.nysds-iframe-wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

/* breakpoiiiint */
@media (min-width: 1280px) {
  .nysds-iframe {
    width: 80%;
    height: 1200px;
  }
}/* cards - NYSDS JHK */

.cards-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    
}

.cards-heading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    width: 100%;
    font-family: 'Figtree', sans-serif;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.nysds-card {
    width: 320px;
    margin: 1.5rem 1rem;
    background: #ededed;
    border: 1px solid #d0d0ce;
    border-radius: 15px;
}

.card-image {
    border-radius: 15px;
    object-fit: cover;
    height: 220px;
    width: 100%;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    margin: 0 25px 0 0;
    font-weight: bold;
    font-family: 'Figtree', sans-serif;
}

.card-link {
    color: #004DD1;
    text-decoration: none;
    font-family: 'Figtree', sans-serif;
}

.card-link:hover {
    color: #000;
    text-decoration: underline;
}

.card-link:focus {
    color: #000;
    text-decoration: underline;
}

.card-description {
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    margin-top: 15px;
}

.cards-intro {
    font-size: 17px;
    margin: 15px 0px;
    text-align: center;
    font-family: 'Figtree', sans-serif;
}


/* media queries */
@media (min-width: 1024px) {
    .cards-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-content {
        padding: 25px;
    }
    
}/* stats cards - NYSDS JHK */

.stats {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 80%;
}

.stats-heading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    width: 100%;
    font-family: 'Figtree', sans-serif;
}

.stats-subhead {
    font-size: 24px !important;
}

.stats-intro {
    font-size: 17px;
    margin: 15px 0px;
    text-align: center;
    font-family: 'Figtree', sans-serif;
}

.stats-outro {
    font-size: 16px;
    margin: 25px 0px;
    text-align: center;
    font-family: 'Figtree', sans-serif;
}

.stats-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
}

.stats-card {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    min-height: 210px;
}

.stats-cta {
    color: #fff;
    background-color: #154973;
    font-weight: bold;
    margin: 0 auto;
    min-width: 250px;
    text-align: center;
    padding:15px;
    border-radius: 15px;
    text-decoration: none !important;
    text-transform: uppercase;
    margin-top: 30px;
}

.stats-cta:hover {
    background-color: #000;
    color: #fff;
    text-decoration: underline !important;
} 

.stats-cta:focus {
    background-color: #000;
    color: #fff;
    text-decoration: underline !important;
} 

.stats-blue {
    background-color: #154973;
    color: #fff;
    fill: #fff;
}

.stats-gray {
    background-color: #d0d0ce;
    color: #000;
    fill: #000;
}

.stats-the {
    font-size: 2.4em;
    font-weight: bold;
    padding: 10px 0 10px 0;
    margin: 0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.stats-the-blue {
    color: #FACE00;
}

.stats-the-gray {
    color: #154973;
}

.stats-green {
    color: var(--success-green)
}

.stats-red {
    color: var(--dark-red-alert)
}

.stats-icon svg {
    height: 40px;
}

.stats-icon-percent {
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    color: #fff;
}

.stats-card-percent {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    min-height: 200px;
}

.stats-description {
    font-size: 1em;
    margin: 0px;
    text-transform: uppercase;
    line-height: 1.375em;
    overflow: hidden;
    letter-spacing: 1px;
    font-family: Oswald;
}

.stats-date-range {
    font-size: 0.85em;
    background: var(--mid-gray);
    color: #000;
    padding:5px 15px;
    border-radius: 25px;
}

/* media queries */
@media (min-width: 1024px) {
    .stats-list {
        flex-direction: row;
    }

    /* .stats-card {
        width: 25%;
    } */
}.nysds-hero-container {
    width: 100%;
    display: flex;
    align-items: end;
    min-height: 400px;

}

.nysds-hero-background-image {
     background-image: url(); /* PUT THE IMAGE URL HERE - replace the current full url with the new one */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.nysds-hero-information {
    width: 100%;
    color: #fff;
    padding: 35px 20px;
    background-color: #154973;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nysds-hero-title {
    font-size: 28px;
    line-height: 1.15em;
    font-weight: 800;
    margin: 0px;
}

.nysds-hero-headline {
    color:#FACE00;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:bold;
}

.nysds-hero-description {
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0 0;
}

.nysds-hero-links-list {
    list-style-type: "";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nysds-hero-links-list li {
    display: flex;
    align-items: center;
    margin-right: 45px;
    margin-top: 20px;
}

 .nysds-hero-link {
    color: #FACE00;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
}

.nysds-hero-link:hover {
    color: #FACE00;
    text-decoration-thickness: 3px;
}

.nysds-hero-link:focus {
    color: #FACE00;
    text-decoration-thickness: 3px;
    outline-offset: 4px;
}

.nysds-hero-link-arrow {
    display: block;
    height: 16px;
    width: 16px;
    margin: 0 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23FACE00' d='M334.5 414c8.8 3.8 19 2 26-4.6l144-136c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22l0 72L32 192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l288 0 0 72c0 9.6 5.7 18.2 14.5 22z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.nysds-hero-link-arrow:dir(rtl) {
    rotate: 180deg;
}

@media (min-width: 1024px) {
    .nysds-hero-information {
        margin-top: 0px;
        margin: 0px 60px;
        width: 580px;
        padding: 45px 45px;
        border-radius: 30px;
    }

    .nysds-hero-container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nysds-hero-description {
        font-size: 18px;
    }

    .nysds-hero-title {
        font-size: 36px;
    }

    .nysds-hero-information {
        padding: 45px 35px;
    }

    .nysds-hero-links-list {
        flex-direction: row;
    }

    .nysds-hero-links-list li {
        margin-top: 35px;
    }
}

.nysds-footer {
    background: var(--tertiary-core-blue);
    min-height: 125px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    font-family: Proxima Nova, Arial, sans-serif;
    padding:35px;
}

.nysds-footer-site-name {
    font-size: 1.25em;
    font-weight: bold;
    padding: 15px 0 15px 15px;
    font-family: 'D Sari Bold', Arial, sans-serif;
    display: flex;
    align-items: center;
}

.nysds-footer-list {
    list-style-type: '';
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    padding: 0;
}
.nysds-footer-links {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding: 5px;
    margin: 5px;
} 

.nysds-footer-links:hover {
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}

.nysds-footer-links:focus {
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    outline: 2px solid var(--primary-core-blue);
}

.nysds-footer-separator {
    display: none;
}


/* media queries */
@media (min-width: 1024px) {
    .nysds-footer-separator {
        height: 35px;
        border-right: 2px solid #000;
        margin: 0 10px 0 20px;
        display: flex;
    }

    .nysds-footer {
        flex-direction: row;
        align-items: center;
        padding:0 60px;
    }

    .nysds-footer-list {
        flex-direction: row;
    }
}