---
layout: layout.njk
---
{% starterMessage %}
<div class="starter-message">
	<style>
	.starter-message {
		background-color: #457AA5;
		color: white;
		border: 2px solid hsla(60, 100%, 2%, 1);
		border-radius: .5em;
		padding: 2rem;
		margin: 2rem auto;
		max-width: 40em;
	}
	.starter-message h3 {
		margin-top: 0;
	}
	.starter-message ol {
		margin: 0;
	}
	</style>
	<h3>NYS Digital Performance Hub</h3>
	
		<p>Performance bottlenecks don't wait for your next sprint review. With automated testing running on your schedule and dashboards that update in real time, your team catches issues before they become problems.</p>
</div>
{% endstarterMessage %}
