{{
    simpleFilter({
        title:"",
        links: [
            {
                text:"",
                url:""
            },
            {
                text:"dropdown menu",
                items:[
                    {
                        text:"",
                        url:""
                    }
                ]
            },
        ]
    })
}}