{% macro backtop(params) %}
  {%- include "./backtop/_template.njk" -%}
{% endmacro %}
{% macro unav(params) %}
  {%- include "./unav/_template.njk" -%}
{% endmacro %}
{% macro global(params) %}
  {%- include "./global/_template.njk" -%}
{% endmacro %}
{% macro iframeLoader(params) %}
  {%- include "./iframeLoader/_template.njk" -%}
{% endmacro %}
{% macro unav(params) %}
  {%- include "./unav/_template.njk" -%}
{% endmacro %}
{% macro global(params) %}
  {%- include "./global/_template.njk" -%}
{% endmacro %}
{% macro filtercard(params) %}
  {%- include "./filtercard/_template.njk" -%}
{% endmacro %}
{% macro cards(params) %}
  {%- include "./cards/_template.njk" -%}
{% endmacro %}
{% macro button(params) %}
  {%- include "./button/_template.njk" -%}
{% endmacro %}
{% macro stats(params) %}
  {%- include "./stats/_template.njk" -%}
{% endmacro %}
{% macro footer(params) %}
  {%- include "./footer/_template.njk" -%}
{% endmacro %}
{% macro highlight(params) %}
  {%- include "./highlight/_template.njk" -%}
{% endmacro %}
{% macro hero(params) %}
  {%- include "./hero/_template.njk" -%}
{% endmacro %}
{% macro category(params) %}
  {%- include "./category/_template.njk" -%}
{% endmacro %}
{% macro accordion(params) %}
  {%- include "./accordion/_template.njk" -%}
{% endmacro %}
{% macro backtop(params) %}
  {%- include "./backtop/_template.njk" -%}
{% endmacro %}
{% macro table(params) %}
  {%- include "./table/_template.njk" -%}
{% endmacro %}
{% macro documents(params) %}
  {%- include "./documents/_template.njk" -%}
{% endmacro %}
{% macro footer(params) %}
  {%- include "./footer/_template.njk" -%}
{% endmacro %}
{% macro dataTable(params) %}
  {%- include "./dataTable/_template.njk" -%}
{% endmacro %}
{% macro dataCard(params) %}
  {%- include "./dataCard/_template.njk" -%}
{% endmacro %}
{% macro batch(params) %}
  {%- include "./batch/_template.njk" -%}
{% endmacro %}