{{
    global({
        siteName:"NYS Digital Speedlify",
        links: [
            {
                text:"NYS Digital Sites",
                url:"digital-sites/"
            },
            {
                text:"NYS OGS Sites",
                url:"ogs/"
            }
        ]
    })
}}