<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>New York State</title>
		<meta name="description" content="Benchmark web pages over time.">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
		<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</head>
	<body>
		 {% from '_components.njk' import unav,global,cards,footer  %} 
		<header class="">
			{{ unav({})}} 
			{% include '_nav-data.njk' %} 
		</header>

		<main>
			{{ content | safe }}
{{
    cards({
        heading:"Digital Performance Test",
        intro:"",
        cards:[
            {
                title:"Sites Ready For Testing",
                content:"Automated performance data results for New York State official websites.",
                link:"/sample/",
                image:"https://www.governor.ny.gov/sites/default/files/2024-08/Governor%27sSeal1280x512_1.jpg",
                imagealt:"new york state seal"
            }
        ]  
    })
}}

		</main>

		<footer>
		 {% include '_footer-data.njk' %}
		</footer>

		<p class="font-bold">MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>. </p> 
		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>