{{
    stats({
        heading:"",
        intro:" ",
        ctalink:"",
        ctatext:"",
        cards:[
            {
                icon:'',
                stat:"",
                description:"",
                color:"blue"
            }
        ]

    })
}}


{{
    stats({
        variant:"linked",
        title:"",
        headline:"",
        intro:" ",
        ctalink:"",
        ctatext:"",
        cards:[
            {
                icon:'',
                description:""",
                link:"",
            }
        ]

    })
}}