{{
    blogChips({
        chips: [
            index:"",
            {
                link:"",
                text:""
            }
        ]   
    })
}}
{# index is only used locally because the card isn't a templated loop to provide an index #}