{{
    dataTable({
        dataSource:"",
        tableName:"",
        title:"",
        caption:"",
        searchPlaceholder:"",
        tableHeaders: [
            {
                title: ""
            },
            {
                title: ""
            },
            {
                title: ""
            },
            {
                title: ""
            },
            {
                title: ""
            },
        ]
    })
}}